@import "tailwindcss";

:root {
  --background: #FFF8F6;
  --foreground: #171717;
  --primary: #DA2439;
  --secondary: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-baloo: var(--font-baloo);
  --font-baloo-2: var(--font-baloo-2);
  --font-satoshi: var(--font-satoshi);
}

@utility section-container {
  @apply max-w-[1480px] mx-auto;
}

@utility section-px {
  @apply px-8 md:px-16;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}